@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root {
  color: #11142D;
  font-family: 'Mulish', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 24px;
}
